<div class="full-flex">
    <div class="toolbar" role="banner">
        <div class="toolbar-header">
            <!-- <mat-icon svgIcon="logo-addonn" size91x30></mat-icon> -->
        </div>
    </div>
    <div class="content" role="main">
        <div style="padding:20px;">
            <!-- <h1 class="main-title">{{'login.title'|translate}}</h1>
            <div class="sub-title">{{'login.subtitle'|translate}}</div> -->
            <h1 class="main-title">Log in</h1>
            <div class="sub-title">Log in to AI to continue.</div>
        </div>

        <form [formGroup]="form"  (submit)="onSubmit($event)">
            <div class="login-fields">
                <div class="form-field">
                    <!-- <mat-label>Customer</mat-label> -->
                    <div class='input-group'>
                        <input  formControlName="customer" />
                        <!-- <mat-icon svgIcon='profile'></mat-icon> -->
                    </div>
                </div>
                <!-- <p *ngIf="error" class="error">
                    {{ error }}
                </p> -->
            </div>
            <button type="submit" mat-raised-button flex-button class="btn-large btn-block btn-round bg-accent-blue text-white" [disabled]="loginInPrgress">
                <span button-text>Login</span>
                <!-- <mat-icon svgIcon='arrow-right-white'></mat-icon> -->
            </button>
        </form>
    </div>
</div>
