/* Import Leaflet CSS without letting Angular handle the png URLs */

body {
  overflow: hidden;
}

/* Leaflet icon overrides */
.leaflet-default-icon-path,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  background-image: url("assets/leaflet/marker-icon.png") !important;
}

.leaflet-control-layers-toggle {
  background-image: url("assets/leaflet/layers.png") !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("assets/leaflet/layers-2x.png") !important;
}
